#calculator {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(81, 233, 10, 0.2);
    background-color: #f9f9f9;
}

button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

button[value="C"] {
    background-color: #ff5733; 
    color: #fff;
}

button[value="="] {
    background-color: #337ab7; 
    color: #fff;
}


button[value="."] {
    font-size: 24px; 
}

button[value="+"], 
button[value="-"], 
button[value="*"], 
button[value="/"] {
    background-color: #ecf0ed;
    font-weight: bold;
}


button[value="0"],
button[value="1"],
button[value="2"],
button[value="3"],
button[value="4"],
button[value="5"],
button[value="6"],
button[value="7"],
button[value="8"],
button[value="9"] {
    background-color: #eee;
}
